@import url("./_tailwind.css");
@import url("./_colors.css");
@import url("./_theme.css");
@import url("./_fonts.css");

* {
  @apply border-border/50;
}

.StripeElement {
  background-color: white;
  padding: 15px 5px;
  height: 0rem;
}

#primary {
  display: none !important;
}

.ElementsApp .LinkButton-inner {
  display: none !important;
}

.hidden {
  display: none !important;
}
